body{
font-family: 'Josefin Sans', sans-serif;


}
nav{
  background-color: #ffffff;
    margin: 0;
    overflow: hidden;
}
 p{
  color:grey;
}

.first{

  padding-top: 60px;
}

#heading{
  padding-top: 120px;
  /* padding-left: 30px; */
}

#container{
  display: flex;
  flex-direction:row-reverse;

}

#heading{
  display: flex;
  flex-direction:column;
}
li{
    display: inline-block;
    color: black;
    padding-right: 15px;
    margin-left: 0px;
}

li > a {
  color: grey;
}

a:hover {
    color: #000000;
    text-decoration:none;
}

.button{
  height: 45px;
  width:130px;
  border-radius: 30px;
  background-color:#0066cc;
  color:#ffffff;
}

h3{
  text-align: center;
}


#containerone{
  display: flex;
  flex-direction:row;

}
.info{
  border: 2px solid #2196F3;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 30px;
  color: dodgerblue;
  width:200px;
}

.learn{
  margin: 20px 1px 1px 400px;
  position: relative;

}

.jumbotron{
  background: linear-gradient(#0c44b3,#2196F3);
  color:#ffffff;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

a{
  color:#2196F3;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:7px;
  /* width: 20rem;
  height: 27rem; */
}


.viewing{
  margin-top:70px;
  margin-left: 45%;
  margin-bottom: 10px;
  position: relative;
}

.jsecond{
  height:400px;
  padding: 100px 0 100px 0;
  margin-bottom:0px;

}


#containertwo{
  display: flex;
  flex-direction: column;
}
 #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}

.column{
  padding-right: 160px;
}

div.jsecond p{
  color:#ffffff;
}
div.column a{
  color:#ffffff;
}
